body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

#logo {

  height: 50px;
    padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}


.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
  display: block;
}

.first {
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  padding-top: 70px;

}

.content {
  background-color: black;
  width: 1200px;
  margin-top: 305px;
  margin-bottom: 305px;
  min-height: 105px;
  justify-content: center;
  display: block;


}


h2 {
  display: block;

  }

h4 {
  display: block;

}

.content1 {
  height: 700px;
  width: 1000px;
  text-align: center;
  display: block;
  margin-left: 100px;
  margin-left: 100px;
  padding-top: 70px;
}




.third {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.third img {
  height: 200px;
  width: 300px;
  margin: 10px;

}

.third span {
  text-align: center;
  font-weight: bold;
}


.fourth {
  padding-top: 70px;
  background-image: url("images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  text-align: center;
  display: block;
  margin-top: 70px;

}

.fourth h2 {
  display: block;
  margin-bottom: 15px;

}

.loc {
  display: inline-flex;
  justify-content: center;



}

.loc1 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;



}

loc1 p {
  color: seashell;



}

h3 {
  display: block;

}

.fifth {
  display: block;
  height: 200px;
}

.sixth h5 {
  text-align: left;
  padding-left: 20px;
  display: block;
}
